<%= render "shared/header" %>

<%= link_to '追加', new_item_path %>

<% if @items != nil %>
  <div>
    <table>
      <tr>
        <th>依頼者名</th><th>品名</th><th>量</th><th>店名（指定ある場合）</th><th>店舗名（指定ある場合）</th><th>詳細ページへ</th>
      </tr>
  <% @items.each do |item| %>
      <tr>
        <td><%= item.user.nickname %></td><td><%= item.item_name %></td><td><%= item.volume %></td><td><%= item.item_s_name %></td><td><%= item.item_s_branch %></td>
        <td><%= link_to '詳細', item_path(item.id) %></td>
      </tr>
  <% end %>
    </table>
  </div>
<% end %>